<li [ngClass]="{'list-group-item': true,
                'list-group-item-success' : appareilStatus === 'allumé',
                'list-group-item-danger' : appareilStatus === 'eteint'}">
    <div style="width: 12px; height: 12px; background-color: rebeccapurple;"
     *ngIf="appareilStatus === 'eteint'"></div>
    <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}</h4>
    <a [routerLink]="[id]">Detail</a>
    <input type = 'text' class="form-control" [(ngModel)] = "appareilName">
    <button class="btn btn-success" (click)="OnswitchOn()" [disabled] = "appareilStatus === 'allumé'">
        Allumer
    </button>
    <button class="btn btn-danger" (click) = "OnswitchOff()" [disabled] = "appareilStatus === 'eteint'">
        Eteindre
    </button>
</li>